<h1>List of Tags</h1>
<ul>
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag) %>
      | <%= link_to 'Delete', tag_path(tag), method: 'delete', data: {confirm: 'Are you sure?' } %>
      | <%= link_to 'Edit', edit_tag_path(tag) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Go to Articles', articles_path %><br />

<%= link_to 'Add Tag', new_tag_path, class: 'new_article' %>